.container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    border-top: 0.2px rgb(157, 155, 155) solid;
}

.content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_in{
    display: flex;
    width: 45%;
    justify-content: space-between;
}

.photo{
    color: #60B021;
}

.content_in{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #75758A;
}

.content_in h5{
    width: 149px;
    height: 22px;
}
.button{
    display: flex;
    justify-content: end;
    width: 60%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    color: #75758A;
}

