.container{
    margin-top: 5%;
    width: 100%;
}

.contact{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.information img{
    margin-left: -4%;
}

.information{
    width: 25%;
}


.contact h4{
    color: #75758A;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}