.container{
    margin-top: 2%;
    width: 100%;
}

.contact{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.information img{
    margin-left: -4%;
}

.information{
    width: 20%;
}

.information img{
    width: 80%;
}

.contact h4{
    color: black;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}

@media(max-width:1300px){
    .contact{
        width: 90%;
    }
}