.container{
    margin-top: 20%;
    width: 100%;
    height: 164px;
    height: 109px;
    background-color: rgb(88, 88, 159);
}

.footer{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.footer h4{
    font-weight: 400;
}

.follow{
    color: #60B021;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 10px;
}


.input{
    justify-content: center;
    display: flex;
    width: 50%;
    height: 100%;
}

.input_in{
    width: 65%;
    height: 40px;
}

.input_in:focus{
    outline: none;
}

.input button{
    font-size: 14px;
    color: white;
    font-weight: 500;
    border: none;
    background-color: rgba(114, 114, 132, 0.866);
}

.number{
    border-bottom: #60B021 2px dashed;
}

.number a{
    border: none;
    color:#60B021;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    line-height: 21px;
    font-weight: 400;
}