.container{
    margin: 0 auto;
    width: 100%;
    height: 164px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.models{
    align-items: center;
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 90%;
    align-items: center;
}

.clear{
    margin-top: 3%;
    width: 30%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.clear h5{
    color: #75758A;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 125px;
    height: 52px;
    font-size: 18px;
    line-height: 26px;
}

.clear h4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    color: #75758A;
}

.images{
    margin-top: 2%;
    margin-left: 18%;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.images_in h3{
    margin-top: -5%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.images_in h4{
    margin-top: -5%;
}